.card-header {
    white-space: nowrap;
    text-align: center;
}

.splide__slide {
    width: auto !important;
}

.user-view {
    background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

#sidebarPanel .offcanvas-body {
    margin-top: 0px
}