* {
    box-sizing: border-box;
}

.card-header {
    white-space: nowrap;
    text-align: center;
}

.splide__slide {
    width: auto !important;
}

.user-view {
    background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

#sidebarPanel .offcanvas-body {
    margin-top: 0px
}

.bg-primary {
    background: #6395a2 !important;
}

.hide-ele {
    display: none;
}

.show-ele {
    display: block;
}


/* Home Section */

.song,
.title-sec,
.action-sec {
    display: grid;
}

.song {
    grid-template-columns: 76% 24%;
    border-top: solid 1px #cacaca;
    padding: 10px 0px;
}

.title-sec {
    grid-template-columns: 16% 84%;
}

.action-sec {
    grid-template-columns: 46% 46%;
    margin: auto;
}

.song-title {
    font-size: 1.3em;
    font-weight: 400;
}

.author {
    font-size: 11px;
    margin-top: -2px;
}

.action-icons {
    font-size: 26px;
}

.song-num {
    margin: auto;
}

.stop-icon,
.like-icon {
    display: none;
}

.play-icon,
.stop-icon {
    margin-right: 30px;
}

.tab-pane {
    padding-bottom: 26px;
}

#song-lyrics-section {
    padding-left: 20px;
    padding-right: 30px;
}

#downloads-section {
    padding-left: 20px;
    padding-right: 20px;
}

.song-lyrics .stanza:last-child {
    margin-bottom: 3em;
}

.lyric {
    font-size: 18px;
    text-align: justify;
}

.lyric-title {
    text-align: center;
    margin-bottom: 0px;
}

.song-lyrics .fab-button {
    bottom: 62px;
}

.fab {
    opacity: .9;
}

.important-info {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-evenly;
    white-space: nowrap;
}

.stanza span {
    font-weight: bold;
}

.stanza {
    margin-top: 1.4em;
}

.header-title,
.pageTitle {
    text-align: center;
    text-transform: capitalize;
}

.active-song-tab {
    border: solid 1px #6C7C94;
    color: #FFF;
}

.splide.is-active .splide__list {
    position: fixed;
    margin-top: -10px !important;
    z-index: 2;
}

.tab-content {
    margin-top: 60px;
}

.header-large-title {
    margin-top: -20px;
}


/* .playing .play-icon {
    display: none;
}

.playing .stop-icon {
    display: block;
}

.favorite .like-icon {
    display: block;
}

.favorite .unlike-icon {
    display: none;
} */