.card-header {
    white-space: nowrap;
    text-align: center;
}

.splide__slide {
    width: auto !important;
}

.user-view {
    background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

#sidebarPanel .offcanvas-body {
    margin-top: 0px
}

.bg-primary {
    background: #6395a2 !important;
}

.hide-ele {
    display: none;
}

.show-ele {
    display: block;
}


/* Home Section */

.song,
.title-sec,
.action-sec {
    display: grid;
}

.song {
    grid-template-columns: 76% 24%;
    border-top: solid 1px #cacaca;
    padding: 10px 0px;
}

.title-sec {
    grid-template-columns: 16% 84%;
}

.action-sec {
    grid-template-columns: 46% 46%;
    margin: auto;
}

.song-title {
    font-size: 1.3em;
    font-weight: 400;
}

.author {
    font-size: 11px;
    margin-top: -2px;
}

.action-icons {
    font-size: 26px;
}

.song-num {
    margin: auto;
}

.stop-icon,
.like-icon {
    display: none;
}

.play-icon,
.stop-icon {
    margin-right: 30px;
}

.tab-pane {
    padding-bottom: 26px;
}

.playing .play-icon {
    display: none;
}

.playing .stop-icon {
    display: block;
}